<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
	<!-- 引入样式 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
	<!-- 引入组件库 -->
	<script src="https://unpkg.com/element-ui/lib/index.js"></script>
</head>
<body>
	<div id="app">
		{{ message }}
		<button v-on:click="reverseMessage">reverse</button>
		<div id="example-4">
			<input type="radio" id="one" value="One" v-model="picked">
			<label for="one">One</label>
			<br>
			<input type="radio" id="two" value="Two" v-model="picked">
			<label for="two">Two</label>
			<br>
			<span>Picked: {{ picked }}</span>
		</div>

		<ul>
			<li v-for="product in products">
				<!-- {{ product.quantity }} {{ product.name }} -->
				<input type="number" v-model.number="product.quantity">
					{{ product.name }}
				<span v-if="product.quantity === 0">
					- OUT OF STOCK
				</span>
				<button @click="product.quantity += 1">
					Add
				</button>
			</li>
		</ul>
		<h2>Total Inventory: {{ totalProducts }}</h2>
	</div>

	<div id="app1">
		<ol>
			<todo-item
				v-for="item in groceryList"
				v-bind:todo="item"
				v-bind:key="item.id"
			></todo-item>
		</ol>
	</div>

	<div id="app2-emit-example-simple">
		<div>
			<button-group v-on:welcome="sayHi" v-on:give-advice="showAdvice"></button-group>
			<input v-on:keyup.enter="keyme">
			<el-input placeholder="请输入管理员姓名" v-model="searchModel.name" 
				@change="keyme" 
				@keyup.enter.native="keyme"
				maxlength="10" 
				show-word-limit>
			</el-input>
			<span>{{counter}}</span>
			</br>
			<span>{{counterFormat}}</span>
		</div>
	</div>
<script>
	var app = new Vue({
		el: '#app',
		data: {
			message: 'Hello Vue!',
			picked: '',
			products: []
		},
		computed: {
			totalProducts () {
				return this.products.reduce((sum, product) => {
					return sum + product.quantity
				}, 0) 
			}
		},
		created () {
			fetch('https://www.fastmock.site/mock/e97f4dd046d2190242a75c287fc38d2d/myjson/api/products')
			.then(res => res.json())
			.then(json => {
				console.log(json)
				this.products = json.products
			})
		},
		methods: {
			reverseMessage: function () {
				this.message = this.message.split('').reverse().join('')
			}
		}
	})

	// Vue 自定义组件注册
	Vue.component('todo-item', {
		props: ['todo'],
		template: '<li>{{ todo.text }}</li>'
	})
	Vue.component('button-group', {
		data: function () {
			return {
				possibleAdvice: ['Yes', 'No', 'Maybe']
			}
		},
		methods: {
			giveAdvice: function () {
				var randomAdviceIndex = Math.floor(Math.random() * this.possibleAdvice.length)
				this.$emit('give-advice', this.possibleAdvice[randomAdviceIndex])
			}
		},
		template: `
		<div>
			<button v-on:click="$emit('welcome')">
			Click me to be welcomed
			</button>
			<button v-on:click="giveAdvice">
			Click me for advice
			</button>
		</div>
		`
	})
	
	var app1 = new Vue({
		el: "#app1",
		data: {
			groceryList: [
				{ id: 0, text: '蔬菜' },
				{ id: 1, text: '奶酪' },
				{ id: 2, text: '随便其它什么人吃的东西' }
			]
		}
	})
	
	var app2 = new Vue({
		el: "#app2-emit-example-simple",
		data: {
			searchModel: {},
			counter: 3600,
			counterFormat: ''
		},
		created() {
			this.cutdown()			
		},
		methods: {
			sayHi: function () {
				alert('Hi!')
			},
			showAdvice: function (advice) {
				alert(advice)
			},
			keyme: function (e) {
				console.log(e)
			},
			cutdown: function () {
				let t1 = setInterval(() => {
					this.counter --
					const h = Math.floor(this.counter/3600)
					const m = Math.floor((this.counter - h*3600)/60)
					const s = this.counter - h*3600 - m*60
					this.counterFormat = `${h}h:${m}m:${s}s`
				}, 1000)
				if(this.counter < 0) {
					this.counter = 0
					clearInterval(t1)
				}
			}
		}
	})
</script>
</body>
</html>